@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap");
$color-card: linear-gradient(to right top, #2e3192, #0068c7, #009ce8, #00cff9, #1bffff);

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #ffffff, #abbaab);
}

input[type="text"] {
  width: 180px;
  height: 25px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
  transition: all 0.3s ease-in-out;

  &:focus {
    box-shadow: 0 5px 20px #aaa;
    outline: none;
  }

  @media (max-width: 768px) {
    height: 10px;
  }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button {
  width: 125px;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid #41167F;
  background-color: #fff;
  color: #333;
  box-shadow: 0 5px 10px #ccc;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;

  &:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }

  &:active {
    box-shadow: 0 5px 20px #aaa;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #333;
  max-width: 210px;
  padding: 20px;
  width: 30%;
  margin: 20px;
  text-align: center;
}

.card-details {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #333;
  max-width: 300px;
  padding: 20px;
  width: 30%;
  margin: 20px;
  text-align: left;
}

.card-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.card-content {
  color: #333;
  font-size: 18px;
}

.see-details {
  cursor: pointer;
  color: #009ce8;
}

.image-card-details {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
    height: auto;
    margin: 20px 0;
    font-size: 2px;
  }

  .search-container {
    flex-direction: column;
  }

  .search-button {
    height: 18px;
    display: flex;
    align-items: center;
    margin-top: 4px;
    justify-content: center;
  }

  .card-container {
    width: 90%;
    height: auto;
  }

  .card-details {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .image-card-details {
    height: 200px;
  }
}