@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap");
$color-card: linear-gradient(to right top, #2e3192, #0068c7, #009ce8, #00cff9, #1bffff);
body {
  font-family: 'Roboto', sans-serif;
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  z-index: 1;
}

input[type="text"] {
  width: 250px;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
  transition: all 0.3s ease-in-out;

  @media (max-width: 767px) {
    width: 90%;
    height: 40px;
    font-size: 16px;
  }

  &:focus {
    box-shadow: 0 5px 20px #aaa;
    outline: none;
  }
}

button {
  width: 200px;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  box-shadow: 0 5px 10px #ccc;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;

  &:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }

  &:active {
    box-shadow: 0 5px 20px #aaa;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: white;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #333;
  max-width: 300px;
  padding: 20px;
  width: 30%;
  margin: 20px;
  text-align: center;
}

.card-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.card-content {
  color: #333;
  font-size: 18px;
}

.see-details {
  cursor: pointer;
  color: #009ce8;
}

.image-card-details {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 720px) {
  .card {
    width: 90%;
    height: auto;
  }

  .image-card-details {
    height: 200px;
  }
}
